/*.toot a{ display: none;}*/
.toot{
  display: flex;
  background-color: #424242;
  padding: 5px;
  flex-direction: row;
  margin-bottom: 6px;
  word-break: break-word;
  border-radius: 2px;
  color: #fff;
}

.toot-avatar {
  padding:3px 7px 0 0;
}

.toot-avatar img {
  border-radius: 50px;
  width: 50px;
}

.toot-date {
  font-size: 12px;
  display: inline-block;
  margin-left: 10px;
}